<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="orthos_base_link">		
<xacro:macro name="orthos_base_link">

  <link name="base_link"/>

  <link name="base_frame_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" /> <mass value="10" />
      <inertia ixx="0.003" ixy="0" ixz="0" iyy="0.09" iyz="0" izz="0.09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry> <mesh filename="package://orthos_description/meshes/base_frame.stl" /> </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry> <box size="0.8 0.160 0.040"/> </geometry>
    </collision>
  </link>

  <joint name="base_frame_joint" type="fixed">
    <origin
      xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="base_frame_link" />
    <axis xyz="0 0 0" />
  </joint>
 
</xacro:macro>
</robot>
